<div class="min-h-screen flex items-center justify-center p-8
         moving-background">
  <p-toast />
  <div class="w-full max-w-md rounded-3xl login-card animate-slide-from-bottom
           backdrop-blur-md p-12 shadow-2xl">

    <div class="flex items-center justify-center gap-3 mb-8">
      <h1 class="text-3xl">
        <span class="font-extrabold text-red-600 tracking-tight font-nest">
          Nest
        </span>
        <span class="text-blue-600 italic font-semibold font-social ">
          Social
        </span>
      </h1>
      <lucide-icon [img]="Heart" class="size-6 text-red-600 fill-current"></lucide-icon>
    </div>

    <h2 class="text-center text-2xl font-semibold mb-2">
      ¡Bienvenido de vuelta!
    </h2>

    <p class="text-center text-gray-500 mb-6">
      Inicia sesión para continuar
    </p>

    <form class="space-y-4" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">

      <div>
        <label class="block mb-2 font-medium">
          Email
        </label>

        <p-floatlabel variant="in">
          <input type="email" pInputText id="label_email" formControlName="email"
            class="w-full rounded-xl border border-gray-300 p-3" />
          <label for="label_email">Correo electrónico</label>
        </p-floatlabel>

        @if(isInvalid('email')){
        @if(errorCheck('email', 'email')){
        <p-message severity="error" variant="simple" size="small">
          El email no es válido
        </p-message>
        }
        @if(errorCheck('email', 'required')){
        <p-message severity="error" variant="simple" size="small">
          El email es requerido
        </p-message>
        }
        }
      </div>

      <div>
        <label class="block mb-2 font-medium">
          Contraseña
        </label>

        <p-floatlabel variant="in">
          <p-password formControlName="password" inputId="on_password" [toggleMask]="true" placeholder="********"
            class="w-full rounded-xl border border-gray-300" [feedback]="false" autocomplete="off" />
          <label for="on_password">Contraseña</label>
        </p-floatlabel>

        @if(isInvalid('password')){
        @if(errorCheck('password', 'minlength')){
        <p-message severity="error" variant="simple" size="small">
          La contraseña debe tener al menos 8 caracteres
        </p-message>
        }
        @if(errorCheck('password', 'required')){
        <p-message severity="error" variant="simple" size="small">
          La contraseña es requerida
        </p-message>
        }
        }
        @if(errorCheck('password', 'wrongCredentials')){
        <p-message severity="error" variant="simple" size="small">
          El email o contraseña ingresados son incorrectos
        </p-message>
        }
        @if(errorCheck('password', 'banned')){
        <p-message severity="error" variant="simple" size="small">
          El usuario no se encuentra disponible
        </p-message>
        }
      </div>

      <div class="flex items-center justify-between text-sm">

        <label class="flex items-center gap-2">
          <p-checkbox formControlName="rememberMe" [binary]="true" />
          <span>Recordarme</span>
        </label>

        <!-- <a href="#" class="text-blue-600 hover:text-blue-700">
          ¿Olvidaste tu contraseña?
        </a> -->

      </div>

      <button type="submit" [disabled]="!loginForm.valid || loginBtnDisabled()" class="w-full h-12 rounded-xl
             bg-blue-600 text-white font-semibold cursor-pointer disabled:bg-blue-300 disabled:cursor-not-allowed
             hover:bg-blue-700 transition">
        Iniciar sesión
      </button>

      <div class="relative py-4">

        <div class="absolute inset-0 flex items-center">
          <div class="w-full border-t border-gray-200"></div>
        </div>

      </div>

      <p class="text-center text-gray-600 ">

        ¿No tienes cuenta?

        <a routerLink="/auth/register" class="ml-1 font-semibold text-blue-600 hover:text-blue-700">
          Regístrate
        </a>

      </p>

    </form>

  </div>

</div>