.likeButton {
    animation: grow .5s 1s ease-in-out;
}

.repostButton {
    animation: grow .5s 2s ease-in-out;
}

.likeButton:hover {
    color: var(--color-red-500) !important;

    lucide-icon {
        color: var(--color-red-500) !important;
    }
}

.asidePost {
    width: 380px;
}

.repostButton:hover {
    color: var(--color-green-500) !important;

    lucide-icon {
        color: var(--color-green-500) !important;
    }
}

.post-content, .post-content p {
    word-break: break-all !important;
}

.commentButton:hover {
    color: var(--color-blue-500) !important;

    lucide-icon {
        color: var(--color-blue-500) !important;
    }
}

.typing-cursor::after {
    content: '|';
    animation: blink 1s infinite;
}

@keyframes grow {
    50% {
        transform: scale(1.2);
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}