<nav class="navBar bg-white shadow-sm">

    <div class="flex items-center px-8 py-3">

        <div class="flex-1 text-4xl cursor-pointer">
            <span class="font-extrabold text-red-600 tracking-tight font-nest">
                Nest
            </span>
            <span class="text-blue-600 italic font-semibold font-social ">
                Social
            </span>
            <span class="text-xl text-gray-600 italic">
                | Inicio
            </span>
        </div>

        <div class="flex items-center gap-4 text-gray-600">
            Comparte <lucide-icon [img]="Share2" class="size-6 text-blue-600"></lucide-icon>
            <span>•</span>Conecta <lucide-icon [img]="Cable" class="size-6 text-red-600"></lucide-icon>
            <span>•</span>Descubre <lucide-icon [img]="Telescope" class="size-6 text-blue-600"></lucide-icon>
        </div>

        <div class="flex-1 flex justify-end">
            <button class="px-6 py-2 rounded-xl
             bg-blue-600 text-white
             hover:bg-blue-700
             transition">
                Ingresar
            </button>
        </div>

    </div>
</nav>