<section class="flex flex-col bg-olive-100 p-3">

    <p-chart class="w-full h-full" width="400" height="400" type="bar" [data]="data" [options]="options">
    </p-chart>

    <article>
        <p-card class="sticky filterCard top-10 mb-5">
            <h1 class="mb-3 cursor-default text-slate-700 font-semibold">
                Feed <span class="ml-2 pi pi-sliders-h"></span>
            </h1>

            <form class="p-card-content" [formGroup]="formFilter">
                <div class="flex justify-center filtrosInput">
                    <p-floatlabel variant="on">
                        <p-datepicker formControlName="createdAtRange" [maxDate]="today" dateFormat="dd/mm/y"
                            [showIcon]="true" selectionMode="range" ngSkipHydration />
                        <label for="on_label">Fecha</label>
                    </p-floatlabel>
                </div>
            </form>
        </p-card>
    </article>

</section>