.register-card {
    background-color: rgba(255, 255, 255, 0.9) !important;
}

@keyframes fall {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0px 1000px;
    }
}

.svg-container {
    position: absolute;
    width: 100%;
    left: -50%;
    top: -34%;
    animation: rotate 350s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.moving-background {
    background-image: url('../../../../assets/images/nestSocialBckg.png');
    background-repeat: repeat;
    animation: fall 30s linear infinite;
}