<div class="min-h-screen flex justify-around p-8
         moving-background">
    <div class="w-full max-w-xl rounded-3xl register-card animate-slide-from-bottom
         backdrop-blur-md p-10 shadow-2xl">

        <div class="flex items-center justify-center gap-3 mb-4">
            <h1 class="text-3xl">
                <span class="font-extrabold text-red-600 tracking-tight font-nest">
                    Nest
                </span>
                <span class="text-blue-600 italic font-semibold font-social ">
                    Social
                </span>
            </h1>
            <lucide-icon [img]="Heart" class="size-6 text-red-600 fill-current"></lucide-icon>
        </div>

        <h2 class="text-center text-2xl font-semibold mb-1">
            Crear cuenta
        </h2>

        <p class="text-center text-gray-500 mb-4">
            Únete a la comunidad
        </p>

        <form class="space-y-2">

            <div class="grid md:grid-cols-2 gap-4">

                <div>
                    <label class="block mb-2 font-medium">
                        Nombre
                    </label>

                    <p-floatlabel variant="on">
                        <input pInputText id="label_nombre" class="w-full rounded-xl border border-gray-300 p-3"
                            autocomplete="off" />
                        <label for="label_nombre">Nombre</label>
                    </p-floatlabel>
                </div>

                <div>
                    <label class="block mb-2 font-medium">
                        Apellido
                    </label>

                    <p-floatlabel variant="on">
                        <input pInputText id="label_apellido" class="w-full rounded-xl border border-gray-300 p-3"
                            autocomplete="off" />
                        <label for="label_apellido">Apellido</label>
                    </p-floatlabel>
                </div>

            </div>

            <div>
                <label class="block mb-2 font-medium">
                    Correo electrónico
                </label>

                <p-floatlabel variant="on">
                    <input type="email" pInputText id="label_email"
                        class="w-full rounded-xl border border-gray-300 p-3" />
                    <label for="label_email">Correo electrónico</label>
                </p-floatlabel>
            </div>

            <div>
                <label class="block mb-2 font-medium">
                    Nombre de usuario
                </label>

                <p-floatlabel variant="on">
                    <input type="text" pInputText id="label_username"
                        class="w-full rounded-xl border border-gray-300 p-3" />
                    <label for="label_username">Nombre de usuario</label>
                </p-floatlabel>
            </div>

            <div class="grid md:grid-cols-2 gap-4">

                <div>
                    <label class="block mb-2 font-medium">
                        Contraseña
                    </label>

                    <p-floatlabel variant="on">
                        <input type="password" pInputText class="w-full rounded-xl border border-gray-300 p-3" />
                        <label for="label_password">Contraseña</label>
                    </p-floatlabel>
                </div>

                <div>
                    <label class="block mb-2 font-medium">
                        Repetir contraseña
                    </label>

                    <p-floatlabel variant="on">
                        <input type="password" pInputText class="w-full rounded-xl border border-gray-300 p-3" />
                        <label for="label_confirm_password">Repetir contraseña</label>
                    </p-floatlabel>
                </div>

            </div>

            <div class="flex flex-col">
                <label class="block mb-2 font-medium">
                    Fecha de nacimiento
                </label>
                <div class="grid md:grid-cols-3 gap-4">
                    <div>
                        <p-floatlabel variant="on">
                            <input pInputText type="number" id="label_dia"
                                class="w-full rounded-xl border border-gray-300 p-3" autocomplete="off" />
                            <label for="label_dia">Dia</label>
                        </p-floatlabel>
                    </div>
                    <div>
                        <p-floatlabel variant="on">
                            <input pInputText type="number" id="label_mes"
                                class="w-full rounded-xl border border-gray-300 p-3" autocomplete="off" />
                            <label for="label_mes">Mes</label>
                        </p-floatlabel>
                    </div>
                    <div>
                        <p-floatlabel variant="on">
                            <input pInputText type="number" id="label_anio"
                                class="w-full rounded-xl border border-gray-300 p-3" autocomplete="off" />
                            <label for="label_anio">Año</label>
                        </p-floatlabel>
                    </div>
                </div>
            </div>

            <div class="flex flex-row gap-12">
                <div>
                    <label class="mb-2 font-medium">
                        Descripción breve
                    </label>

                    <textarea rows="3" maxlength="250"
                        class="w-full rounded-xl border border-gray-300 p-3 resize-none"></textarea>
                </div>
                <div class="flex flex-col justify-center align-center">
                    <label class="mb-2 font-medium">
                        Imagen de perfil
                    </label>

                    <input type="file" (change)="onAvatarChange($event)" #avatarInput style="display:none"
                        accept="image/*" />

                    @if(imagePreview()) {
                    <div (click)="avatarInput.click()"
                        class="w-26 h-26 cursor-pointer rounded-full border-4 border-blue-300 bg-gray-100 flex items-center justify-center">
                        <img [src]="imagePreview()" alt="Preview" class="w-25 h-25 rounded-full object-cover" />
                    </div>
                    } @else {
                    <div (click)="avatarInput.click()"
                        class="w-26 h-26 cursor-pointer rounded-full border-4 border-blue-300 bg-gray-100 flex items-center justify-center">
                        <lucide-icon [img]="Plus" class="size-10 text-blue-300 fill-current"></lucide-icon>
                    </div>
                    }

                </div>

            </div>

            <button type="submit" class="w-full h-12 rounded-xl
             bg-blue-600 text-white font-semibold
             hover:bg-blue-700 transition">
                Crear cuenta
            </button>

            <p class="text-center text-gray-600">
                ¿Ya tienes cuenta?

                <a routerLink="/auth/login" class="text-blue-600 font-semibold">
                    Inicia sesión
                </a>
            </p>

        </form>

    </div>

    <app-post class="animate-slide-in-right" [post]="demoPost"></app-post>
    
</div>