/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import 'quill/dist/quill.snow.css';
@import 'quill-emoji/dist/quill-emoji.css';
@import 'tailwindcss';
@import "tailwindcss-primeui";

:root,
:host {
  --primary-color: #2563eb;
  --secondary-color: #dc2626;
  --p-select-option-selected-color: #2563eb !important;
  --p-list-option-selected-focus-color: #4f80eb !important;
  --p-select-placeholder-color: var(--p-floatlabel-color) !important;
  --p-content-border-color: var(--color-slate-500) !important;
}

.p-password-input {
  width: 100% !important;
}

.p-select-label.p-placeholder::placeholder {
  color: var(--p-floatlabel-color) !important;
  font-weight: 600;
}

.p-select-option.p-select-option-selected.p-focus {
  background: #e0e7ff !important;
}

.p-inputtext:focus {
  border-color: #2563eb !important;
}

.p-select-option.p-select-option-selected {
  background: #e0e7ff !important;
}

.p-select:not(.p-disabled).p-focus {
  border-color: #2563eb !important;
}

.p-select-label {
  border-color: #2563eb;
}

.p-floatlabel:has(input:focus) label,
.p-floatlabel:has(input:-webkit-autofill) label,
.p-floatlabel:has(textarea:focus) label,
.p-floatlabel:has(.p-inputwrapper-focus) label {
  color: #2563eb !important;
}

@theme {
  --animate-slide-in-right: slide-in-right 500ms 650ms ease-out backwards;
  --animate-slide-from-bottom: slide-from-bottom 500ms ease-out;

  @keyframes slide-in-right {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slide-from-bottom {
    from {
      opacity: 0;
      transform: translateY(100px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.font-nest {
  font-family: "NestFont", sans-serif;
}

.font-social {
  font-family: "SocialFont", serif;
}

@font-face {
  font-family: "NestFont";
  src: url("./assets/fonts/poppins.black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "SocialFont";
  src: url("./assets/fonts/CormorantGaramond-BoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}