/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import "tailwindcss-primeui";

.p-inputtext:focus {
  border-color: #2563eb !important;
}

.p-floatlabel:has(input:focus) label,
.p-floatlabel:has(input:-webkit-autofill) label,
.p-floatlabel:has(textarea:focus) label,
.p-floatlabel:has(.p-inputwrapper-focus) label {
  color: #2563eb !important;
}

@theme {
  --animate-slide-in-right: slide-in-right 500ms 650ms ease-out backwards;
  --animate-slide-from-bottom: slide-from-bottom 500ms ease-out;

  @keyframes slide-in-right {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slide-from-bottom {
    from {
      opacity: 0;
      transform: translateY(100px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@font-face {
  font-family: "NestFont";
  src: url("./assets/fonts/poppins.black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "SocialFont";
  src: url("./assets/fonts/CormorantGaramond-BoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}