:host ::ng-deep .filterCard .p-card-content {
    display: flex;
    flex-direction: column;
    gap: calc(15px);
}

:host ::ng-deep .filtrosInput,
:host ::ng-deep .filtrosInput .p-datepicker {
    width: 350px;
}

:host {
    display: block;
    height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--color-olive-500);
        border-radius: 999px;
        border: 2px solid transparent;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: var(--color-olive-500);
    }
}